.logo {
    align-self: center; /*горизонтальное выравнивание*/
    font-size: 0px; /*скрываем текст ссылки*/
}

.logo__pic {
    max-width: 100%; /*для пропорционального сжатия картинки, если она не влезает в блок*/
    max-height: 100%;
}